@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-zalando-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  --font-serif:
    var(--font-roboto-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

p {
  font-family: var(--font-serif);
}
